$grid-item-size: 150px;

#content {
  background-color: black;
  width: 100%;
  margin-bottom: 50px;
  overflow: hidden;
  
  #overflowing {
    position: absolute;
    background-color: black;
    width: 100vw;
    left: 0;
  }

  .InfoGrid {
    padding: 35px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @for $i from 1 through 27 {
      .gridItem:nth-child(#{$i}) {
        opacity: 0;
        animation-name: moveIn;
        animation-duration: .5s;
        animation-iteration-count: 3;
        -webkit-animation-delay:(#{$i*0.1s}); 
        animation-delay:(#{$i*0.1s});
        animation-fill-mode: forwards;      }
    }

    @keyframes moveIn {
      0%   {opacity:0;}
      100% {opacity:1;}
    }

    .gridItem{ 
      background-color: $light-grey;
      width: $grid-item-size;
      height: $grid-item-size;
      margin: 20px;
      text-align: right;
      .gridItemGrade {
        position: relative;
        height: 80%;
        font-size: 110px;
      }
      .gridItemCountry {
        position: relative;
        height: 20%;
        padding-right: 6px;
      }
    }
  }
}