$font-size-h1: 30px;
$font-size-h2: 20px;
$font-size-p1: 18px;
$font-size-large: 50px;

.alda, .gridItemCountry, .contentRechartsInfo, .recharts-wrapper, .recharts-wrapper span, #footer, p {
  font-family: 'alda';
  font-weight: 300;
  font-style: normal;
  font-size: $font-size-p1;
  color: $font-color;
  margin: 0;
  padding: 0;
}

.rifth1, h1{
  font-family: 'rift-soft';
  font-weight: 700;
  font-style: normal;
  font-size: $font-size-h1;
  color: $font-color;
}

.rifth2, #tooltip, .timelineTooltip, h2 {
  font-family: 'rift-soft';
  font-weight: 300;
  font-style: normal;
  font-size: $font-size-h2;
  color: $font-color;
}

.gridItemGrade {
  font-family: 'rift-soft';
  font-weight: 300;
  font-style: normal;
  font-size: $font-size-large;
  color: $font-color;
}



