
$maxwidth: 1200px;
$centerwidth: 800px;
$sideswidth: 200px;
$svgheight: 800px;

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  font-size: 0;
  display: flex;
  width: 100%;
  max-width: $maxwidth;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  
  .side {
    background-color: $sides-color;
    @include v-center;
    @include h-center;
    flex: 1 0 $sideswidth;
  }
  .rightside {
    border-left: 1px solid $color-grey;
  }
  .leftside {
    border-right: 1px solid $color-grey;
  }

  .center {
    width: 100%;
    flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 20px 20px;
  }
}