$translate-diff: 9%;
$svgheight: 700px;

.map {
  margin-bottom: $translate-diff;
  svg {
    z-index: 1;
    width: 100%;
    height: $svgheight;
    transform: translate(#{$translate-diff}, 3%);
    g {
      path {
        stroke: white;
        fill: grey;
      }
    }
  }
}